<%=provide(:title,"HOME") %>

<div class="top_page_area">
    <h1>勤怠システム</h1>
    <div class="login_button"><%=link_to "ログイン",login_path,class:"btn btn-primary" %></div>
    <%=link_to "アカウントの作成はこちらから",new_user_path %>
</div>