<%=provide(:title,"新規アカウント登録") %>

<div class="main_title">
     <h1>ユーザー一覧</h1>
</div>
<%=will_paginate @users %>
<div class="list_container">
    <ul class="members">
       <%=render @users %>
    </ul>
</div>
