@import 'bootstrap-sprockets';
@import 'bootstrap';

body{
    #container{
        margin-bottom:50px;
        .top_page_area{
            text-align:center;
            background-color:#c0c0c0;
            margin-top:10px;
            width:70%;
            margin-left:15%;
            padding:20px;
            padding-bottom:20px;
            a{
                margin-bottom:10px;
            }
        }
    }
    #debugger{
        width:70%;
        margin-left:15%;
    }
    .main_title{
        text-align:center;
    }
    .row *{
        margin-bottom:10px;
    }
    .members{
        list-style:none;
        margin:0;
        padding:0;
        width:100%;
        li{
            font-size:16px;
            border-bottom:1px solid #c0c0c0;
            padding:12px;
        }
    }
    header{
        background-color:#000;
        padding:4px;
        .header_left{
            float:left;
            color:#fff;
            h1{
                margin-left:100px;
                margin-top:10px;
            }
        }
        .nav{
            float:right;
            margin-right:200px;
            margin-top:20px;
            font-size:16px;
            #right-left{
                float:left;
                padding-left:20px;
                ul{
                  list-style:none;
                  li{
                      display:inline-block;
                      margin-left:30px;
                  }
                }
            }
            #right-right{
                float:right;
                  padding-left:20px;
                
            }
            #right-empty{
                clear:both;
                overflow:hidden;
            }
            
            
        }
        .empty{
            clear:both;
            overflow:hidden;
        }
    }
    .list_container{
         margin-left:10%;
        .list_name{
        float:left;
    }
    .list_info{
        float:right;
    }
    .list_empty{
        clear:both;
        overflow:hidden;
    }
    }
    .table{
        text-align:center;
        font-weight:bold;
    }
    

}